---
import Icon from '@ui/icons/Icon.astro';
const { companyName, address, phone, email, website } = Astro.props;
---

<div>
  <h3 class="font-semibold text-slate-700">Contact</h3>
  <ul class="mt-3 space-y-2 text-sm text-slate-600">
    <li class="flex items-center gap-x-2">
      <Icon name="mapPin" />
      <span>{address}</span>
    </li>
    <li class="flex items-center gap-x-2">
      <Icon name="email" />
      <a href="mailto:contact@gmtec.eu" class="transition-colors duration-300 hover:text-slate-500">Send us a message</a>
    </li>
    <li class="flex items-center gap-x-2">
      <Icon name="linkedin" />
      <a
        href="https://www.linkedin.com/company/gmtec-group"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors duration-300 hover:text-slate-500">Follow us</a
      >
    </li>
  </ul>
</div>
